body,
td,
div,
span,
input {
    font-family: arial, helvetica, sans-serif;
    font-size: 16px;
    color: #000;
}

body {
    background: #fff;
    margin: 0px;
    padding: 0px;
    border: 0;
    text-align: center;
}

h1 {
    color: #003366;
    font-size: 26px;
    font-weight: bold;
    padding: 0;
    margin: 12px 0;
}

h2 {
    font-size: 22px;
    font-weight: bold;
    color: #003366;
    padding: 0;
    margin-bottom: 2px;
}

input {
    padding: 5px;
    color: #000;
    box-sizing: border-box;
}

select {
    padding: 4px;
    color: #000;
    box-sizing: border-box;
}

option {
    font-size: 16px;
}

#errorMsg {
    color: red;
    font-weight: bold;
}

input[type=text],
input[type=url],
input[type=number],
input[type=color],
input[type=date],
input[type=email],
select {
    border: 1px solid #044284;
    border-radius: 2px;
    box-shadow: 1px 1px 2px #666;
    font-size: 16px;
    background-color: #fff;
}

.cbcontainer {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    padding-top: 1px;
    margin: 5px 0px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cbcontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.rbmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #fff;
    border: 2px solid #336699;
    border-radius: 50%;
}

.cbcontainer:hover input~.cbmark,
.cbcontainer:hover input~.rbmark {
    background-color: #ccc;
}

.cbcontainer input:checked~.cbmark,
.cbcontainer input:checked~.rbmark {
    background-color: #336699;
}

.cbmark:after,
.rbmark:after {
    content: "";
    position: absolute;
    display: none;
}

.cbcontainer input:checked~.cbmark:after,
.cbcontainer input:checked~.rbmark:after {
    display: block;
}

.cbcontainer .cbmark:after {
    left: 4px;
    top: 0px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.cbcontainer .rbmark:after {
    top: 4px;
    left: 4px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.resultDiv, .supernetResult {
    padding-top: 25px;
}

.max-width-table, #csubnet, .inlonger{
    width: 100%;
}

.td-2 {
    min-width: 50%;
    width: 50%;
}

#clearButton {
    border: 0px;
    color: #fff;
    padding: 11px;
    font-size: 16px;
    font-weight: bold;
    background-color: lightgrey;
    cursor: pointer;
}

#calcButton {
    border: 0px;
    color: #fff;
    padding: 11px;
    font-size: 16px;
    font-weight: bold;
    background-color: #336699;
    cursor: pointer;
}

#calcButton:hover{
    background-color: #1aaa55;
}

#contentout {
    width: 1100px;
    padding-top: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    overflow: auto;
}

#content {
    padding: 0px 0px 15px 0px;
    width:500px;
    float: left;
}

#right {
    width: 500px;
    float: right;
    text-align: center;
    padding-top: 50px;
}

#octitle a {
    color: #fff;
    text-decoration: none;
}

#octitle a:hover {
    text-decoration: underline;
}

.smtb a {
    text-decoration: underline;
}

.smtb a:hover {
    text-decoration: none;
}

.smtbtop a {
    text-decoration: none;
}

.smtbtop a:hover {
    text-decoration: underline;
}

table.cinfoT {
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 0;
}

table.cinfoT th,
table.cinfoT td.cinfoHd,
table.cinfoT td.cinfoHdL {
    border-top: 1px solid #114477;
    border-left: 1px solid #114477;
    border-right: 1px solid #114477;
    border-bottom: 1px solid #336699;
    background-color: #336699;
    font-weight: bold;
    color: #fff;
    padding: 5px 3px;
}

table.cinfoT td {
    border: 1px solid #ccc;
    color: #000;
    padding: 3px;
}

table.cinfoT tr:nth-child(odd) {
    background-color: #eee;
}

table.cinfoT tr:nth-child(even) {
    background-color: #fff;
}

table.cinfoTS td.cinfoHd {
    font-size: 13px;
}

table.cinfoTS td.cinfoHdL {
    font-size: 13px;
}

table.cinfoTS td {
    font-size: 13px;
    padding: 3px 1px;
}

#topmenu ul {
    color: #000;
    border-bottom: 1px solid #bbbbbb;
    margin: 12px 0px 0px 0px;
    padding: 0 0 8px 0;
    font-size: 15px;
    font-weight: bold;
}

#topmenu ul li {
    display: inline;
    overflow: hidden;
    list-style-type: none;
    margin-left: 0px;
}

#topmenu ul li a,
#topmenu ul li a:visited {
    color: #fff;
    background: #336699;
    border: 1px solid #336699;
    padding: 8px 5px 8px 5px;
    margin: 0;
    text-decoration: none;
}

#topmenu ul li a:hover {
    background: #eee;
    color: #000;
}

#topmenu ul #menuon a {
    color: #000;
    background: #eee;
    border: 1px solid #bbbbbb;
    padding: 8px 5px 8px 5px;
    margin: 0;
    text-decoration: none;
    border-bottom: 2px solid #eee;
}

#topmenu ul #menuon a:hover {
    background: #eee;
}

.panel {
    background: #eee;
    border: solid 1px #bbbbbb;
    padding: 5px;
}

.h2result {
    background: #336699;
    color: #fff;
    border: 1px solid #336699;
    padding: 5px;
    margin-top: 3px;
    font-size: 22px;
    font-weight: bold;
}

.sectionlists div {
    padding-bottom: 5px;
}

@media (max-width:1100px) {
    #right{
        float:none;
        padding-left: 10px
    }

    #contentout {
        width: 900px;
    }

    #content {
        width: 640px;
        float: left;
        padding-left: 10px;
    }
}

@media (max-width:720px) {
    #contentout {
        width: auto;
        padding: 8px;
    }

    #content {
        float: none;
        width: auto;
        padding: 0px;
    }

    #right {
        width: auto;
        float: none;
    }

}
